<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/base/head :: headFragment(#{role.title.modify})"/>
</head>

<body>
<th:block th:include="/base/nav :: navFragment"/>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="page-header" data-th-text="#{role.title.modify}">编辑角色</h1>
                </div>
            </div>
            <form class="form-horizontal" action="#">
                <th:block th:include="/base/input :: readonly('text', #{role.id}, 'id', ${roleDO.id}, true)"/>
                <th:block th:include="/base/input :: common('text', #{role.name}, 'name', ${roleDO.name})"/>
                <th:block
                        th:include="/base/input :: common('text', #{role.description}, 'description', ${roleDO.description})"/>


                <div class="form-group">
                    <label class="col-md-1 control-label" data-th-text="#{role.enabled.label}">可用</label>
                    <div class="row">
                        <div class="col-md-2 checkbox">
                            <label>
                                <input type="checkbox" id="input-enabled" name="enabled"
                                       data-th-checked="${roleDO.enabled}"
                                       data-th-text="#{role.enabled}"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label" data-th-text="#{role.auth}">角色权限</label>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" data-th-text="#{role.auth}"
                                       href="#panel-auth">角色权限</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse in">
                                <div id="panel-auth" class="panel-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <input id="btn-submit" type="submit" class="btn btn-default" data-th-value="#{form.submit}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<th:block th:include="/base/script :: scriptFragment"/>
<script data-th-src="@{/js/role/role-core.js}"></script>
<script data-th-src="@{/js/role/role-modify.js}"></script>
</html>