<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title data-th-text="#{role.title.modify}">编辑角色</title>
    <div data-th-replace="base/head"></div>
    <script data-th-src="@{/resource/custom/role/role.js}"></script>
</head>

<body>
<nav data-th-replace="base/nav"></nav>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="page-header" data-th-text="#{role.title.modify}">编辑角色</h1>
                </div>
            </div>
            <div data-th-replace="base/tip"></div>
            <form class="form-horizontal" method="post" action="#"
                  data-th-object="${roleDO}" data-th-action="'/admin/role/'+${roleDO.id}">
                <div class="form-group" data-th-classappend="${#fields.hasErrors('id')}?'has-error'">
                    <label for="roleIdInput" class="col-md-1 control-label" data-th-text="#{role.id}">用户Id</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="roleIdInput" placeholder="roleId"
                               readonly="readonly" data-th-field="*{id}"
                               aria-describedby="roleIdSpan"/>
                    </div>
                    <span id="roleIdSpan" class="col-md-6 help-block"
                          data-th-if="${#fields.hasErrors('id')}"
                          data-th-errors="*{id}">Ajax提示</span>
                </div>
                <div class="form-group" data-th-classappend="${#fields.hasErrors('name')}?'has-error'">
                    <label for="nameInput" class="col-md-1 control-label" data-th-text="#{role.name}">角色名</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="nameInput" placeholder="name"
                               data-th-field="*{name}"
                               aria-describedby="nameSpan" />
                    </div>
                    <span id="nameSpan" class="col-md-6 help-block"
                          data-th-if="${#fields.hasErrors('name')}"
                          data-th-errors="*{name}">Ajax提示</span>
                </div>
                <div class="form-group" data-th-classappend="${#fields.hasErrors('description')}?'has-error'">
                    <label for="descriptionInput" class="col-md-1 control-label" data-th-text="#{role.description}">描述</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="descriptionInput" placeholder="description"
                               data-th-field="*{description}"
                               aria-describedby="descriptionSpan"/>
                    </div>
                    <span id="descriptionSpan" class="col-md-6 help-block"
                          data-th-if="${#fields.hasErrors('description')}"
                          data-th-errors="*{description}">Ajax提示</span>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label" data-th-text="#{role.enabled.label}">可用</label>
                    <div class="row">
                        <div class="col-md-2 checkbox">
                            <label>
                                <input type="checkbox" data-th-text="#{role.enabled}"
                                       data-th-field="*{enabled}" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label" data-th-text="#{role.auth}">角色权限</label>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" data-th-text="#{role.auth}"
                                       href="#authPanel">角色权限</a>
                                </h4>
                            </div>
                            <div id="authPanel" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="checkbox" data-th-each="item : ${auth}" data-th-classappend="!${item.key.enabled}?'has-error'">
                                        <label>
                                            <input type="checkbox" data-th-value="${item.key.id}" data-th-name="auth"
                                                   data-th-checked="${item.value}"
                                                   data-th-disabled="!${item.key.enabled}">
                                            <span data-th-text="#{${item.key.name}}"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <button type="submit" class="btn btn-default" data-th-text="#{form.submit}">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<div data-th-replace="base/script"></div>
</html>