<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahao.forum.guitar.module.index.dao.IndexMapper">

    <select id="getCategories" resultType="DataSet">
        select c.id, c.name
        from category c
        where c.status = #{status}
        order by c.id, c.name
    </select>
    <select id="getForumsByCategoryId" resultType="DataSet">
        select f.id, f.name, f.icon_url,
            ifnull(num.thread_num, 0) thread_num, ifnull(num.post_num, 0) post_num, num.last_reply_time
        from forum f
        left join category_forum cf on cf.forum_id = f.id
        left join category c on cf.category_id = c.id
        left join (
            select t.forum_id, count(distinct t.id) thread_num, count(distinct p.id) post_num,
                max(p.create_time) last_reply_time
            from thread t
            left join post p on p.thread_id = t.id) num on num.forum_id = f.id
        where c.status = 1 and f.status = 1 and c.id = #{categoryId}
        order by f.id, f.name
    </select>
</mapper>