<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/base/head :: headFragment(#{login.title})"/>
</head>
<body>
<th:block th:include="/base/nav :: navFragment"/>
<div id="wrapper" data-th-fragment="content">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="page-header" data-th-text="#{index.title}">#{index.title}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h2 data-th-text="#{index.welcome(${indexView.username})}">欢迎你</h2>
                        <p data-th-text="#{index.last.date(${#dates.format(indexView.nowDate, 'yyyy-MM-dd')})}">上次登录时间: </p>
                        <p data-th-text="#{index.last.ip(${indexView.loginIp})}">上次登录Ip: </p>
                        <!--<br/>-->
                        <!--<p data-th-text="'上次登录时间是: '+${#dates.format(user.getLastLoginTime(), 'yyyy-MM-dd')}">上次登录时间: </p>-->
                        <!--<p data-th-text="'上次登录Ip地址是:  '+${user.getLastLoginIp()}">上次登录Ip: </p>-->
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="count-invoice">...</div>
                                    <div>发票总数</div>
                                </div>
                            </div>
                        </div>
                        <a data-th-href="@{/invoices}">
                            <div class="panel-footer">
                                <span class="pull-left">查看详情</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="count-profit">...</div>
                                    <div>总利润</div>
                                </div>
                            </div>
                        </div>
                        <a data-th-href="@{/invoice/graph/profit}">
                            <div class="panel-footer">
                                <span class="pull-left">查看详情</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="count-province">...</div>
                                    <div>最多购贷单位的省份</div>
                                </div>
                            </div>
                        </div>
                        <a data-th-href="@{/invoice/unit/graph/distribution}">
                            <div class="panel-footer">
                                <span class="pull-left">查看详情</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bank fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="count-unit">...</div>
                                    <div>购贷单位总数</div>
                                </div>
                            </div>
                        </div>
                        <a data-th-href="@{/invoice/units}">
                            <div class="panel-footer">
                                <span class="pull-left">查看详情</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:include="/base/script :: scriptFragment"/>
<script>
    $.extend({
        loadByAjax: function (option) {
            var options = $.extend({
                url: undefined,
                selector: undefined,
                convert: function (data) {return data;}
            }, option);

            $.ajax({
                type: 'POST',
                timeout: 100000,
                url: options.url,
                success: function (data) {
                    $(options.selector).html(options.convert(data.obj));
                }
            });
        }
    });

    $(document).ready(function () {
        $.loadByAjax({
            url: '/invoice/count',
            selector: '#count-invoice'
        });

        $.loadByAjax({
            url: '/invoice/profit',
            selector: '#count-profit'
        });

        $.loadByAjax({
            url: '/invoice/unit/province/max',
            selector: '#count-province',
            convert: function (data) {
                return $.province({provinceCode: data.code});
            }
        });

        $.loadByAjax({
            url: '/invoice/unit/count',
            selector: '#count-unit'
        })
    });
</script>
</html>

