<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/base/head :: headFragment(#{product.category.title.modify})"/>
</head>

<body>
<th:block th:include="/base/nav :: navFragment"/>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="page-header" data-th-text="#{product.category.title.modify}">编辑货物类别</h1>
                </div>
            </div>
            <form class="form-horizontal" action="#">
                <th:block th:include="/base/input :: readonly('text', #{auth.id}, 'id', ${categoryDO.id}, true)"/>
                <th:block th:include="/base/input :: common('text', #{auth.name}, 'name', ${categoryDO.name})"/>
                <th:block th:include="/base/input :: common('text', #{auth.description}, 'description', ${categoryDO.description})"/>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="btn-submit" type="submit" class="btn btn-default" data-th-value="#{form.submit}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<th:block th:include="/base/script :: scriptFragment"/>
<script data-th-src="@{/js/product/category/category-detail.js}"></script>
</html>