<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahao.forum.guitar.module.forum.dao.ForumMapper">

    <select id="getForums" resultType="DataSet">
        select
        <choose>
            <when test="fields != null and fields.length > 0">
                <foreach collection="fields" separator="," item="item">
                    f.${item}
                </foreach>
            </when>
            <otherwise>f.*</otherwise>
        </choose>
        from forum f
    </select>
</mapper>