<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahao.forum.guitar.module.forum.dao.ForumMapper">

    <select id="getForumById" resultType="DataSet">
        select f.id, f.name, f.description
        from forum f
        where f.status = 1 and f.id = #{forumId}
    </select>

    <select id="getThreadByForumId" resultType="DataSet">
        select t.id, t.title, tu.username, ifnull(rep.last_reply_time, t.create_time) last_reply_time, rep.reply_num, t.create_time
        from thread t
        left join forum f on t.forum_id = f.id
        left join admin_user tu on tu.id = t.create_user_id
        left join (select thread_id, max(ifnull(create_time, 0)) last_reply_time, count(*) reply_num from post group by thread_id) rep on rep.thread_id = t.id
        where f.id = #{forumId}
        <if test="search != null and search.length() > 0">
            <bind name="searchLike" value="'%'+search+'%'"/>
            and t.title like #{searchLike}
        </if>
        order by last_reply_time desc, t.modify_time desc, t.create_time desc
    </select>
</mapper>