<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahao.forum.guitar.module.admin.user.dao.UserMapper">

    <select id="selectProfileByUserId" resultType="DataSet">
        select
        <choose>
            <when test="fields != null and fields.length > 0">
                <foreach collection="fields" separator="," item="item">
                    ${item}
                </foreach>
            </when>
            <otherwise>*</otherwise>
        </choose>
        from user_profile up
        where up.user_id = ${userId}
    </select>

    <select id="selectByUsername" resultType="DataSet">
        select
        <choose>
            <when test="fields != null and fields.length > 0">
                <foreach collection="fields" separator="," item="item">
                    ${item}
                </foreach>
            </when>
            <otherwise>*</otherwise>
        </choose>
        from admin_user
        where username = #{username}
    </select>

    <select id="getUsersByWeight" resultType="DataSet">
        select
        <choose>
            <when test="fields != null and fields.length > 0">
                <foreach collection="fields" separator="," item="item">
                    u.${item}
                </foreach>
            </when>
            <otherwise>u.*</otherwise>
        </choose>
        from admin_user u
        left join admin_user__role ur on u.id = ur.user_id
        left join admin_role r on ur.role_id = r.id
        <![CDATA[ where r.weight < #{weight} ]]>
        <if test="search != null and search.length()">
            <bind name="searchLike" value="'%'+search+'%'"/>
            and u.username like ${searchLike}
        </if>
    </select>

</mapper>