<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moe.ahao.process.management.infrastructure.repository.impl.mybatis.mapper.ProcessConfigMapper">
    <update id="updateEnableByName">
        update process_config set enable = #{enable} where name = #{name}
    </update>
    <delete id="deleteByName">
        delete from process_config where name = #{name}
    </delete>

    <select id="selectOneByName" resultType="moe.ahao.process.management.infrastructure.repository.impl.mybatis.data.ProcessConfigDO">
        select * from process_config where name = #{name}
    </select>
    <select id="selectListByEnables" resultType="moe.ahao.process.management.infrastructure.repository.impl.mybatis.data.ProcessConfigDO">
        select * from process_config where enable in
        <foreach collection="enables" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </select>

</mapper>
