<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navFragment">
    <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">后台管理</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user" data-th-text="${#authentication.name}"> 用户名</i>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> 个人信息</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                    </li>
                    <li class="divider"></li>
                    <li><a data-th-href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> 注销登录</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 人员管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/admin/users">用户管理</a>
                            </li>
                            <li>
                                <a href="/admin/roles">角色管理</a>
                            </li>
                            <li>
                                <a href="/admin/auths">权限管理</a>
                            </li>
                            <li>
                                <a href="#">访问管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 发票管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a data-th-href="@{/invoices}">查看发票</a>
                            </li>
                            <li>
                                <a data-th-href="@{/invoice}">录入发票</a>
                            </li>
                            <li>
                                <a href="morris.html">发票审核</a>
                            </li>
                            <li>
                                <a data-th-href="@{/invoice/units}">购销单位</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 产品管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a data-th-href="@{/product/categorys}">产品类别</a>
                            </li>
                            <li>
                                <a data-th-href="@{/product/goods}">产品详情</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 数据分析<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a data-th-href="@{/invoice/graph/profit}" data-th-text="#{graph.invoice.profit}">进销项利润分析</a>
                            </li>
                            <li>
                                <a data-th-href="@{/invoice/unit/graph/distribution}" data-th-text="#{graph.unit.distribution}">购销单位地理分布</a>
                            </li>
                            <li>
                                <a data-th-href="@{/invoice/graph/distribution}" data-th-text="#{graph.invoice.distribution}">发票所在地地理分布</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 公告管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="flot.html">发布公告</a>
                            </li>
                            <li>
                                <a href="flot.html">公告类别</a>
                            </li>
                            <li>
                                <a href="flot.html">历史公告</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-static-side -->
    </nav>
</div>
</body>
</html>