<script data-th-src="@{/plugins/jquery/jquery.min.js}"></script>

<script data-th-src="@{/plugins/bootstrap/bootstrap.min.js}"></script>

<script data-th-src="@{/plugins/metisMenu/metisMenu.min.js}"></script>

<script data-th-src="@{/plugins/raphael/raphael.min.js}"></script>
<script data-th-src="@{/plugins/morris/morris.min.js}"></script>

<script data-th-src="@{/plugins/sb-admin-2/sb-admin-2.min.js}"></script>

<script type="text/javascript">
    $(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });
</script> 