<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/base/head :: headFragment(#{invoice.title.add})"/>
</head>

<body>
<th:block th:include="/base/nav :: navFragment"/>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="page-header" data-th-text="#{invoice.title.add}">录入发票</h1>
                </div>
            </div>
            <form class="form-horizontal" action="#">
                <div class="form-group">
                    <div class="col-md-11">
                        <h2 class="text-center" id="title-invoice">上海增值税普通发票</h2>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <input class="form-control col-md-1" id="input-code"
                               name="code" placeholder="发票代码"/>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control col-md-1" id="input-number"
                               name="input-number" placeholder="发票号码"/>
                    </div>
                    <div class="col-md-3 col-md-offset-5">
                        <input type="date" class="form-control col-md-6" id="input-date"
                               name="date" placeholder="开票日期"/>
                    </div>
                </div>
                <table class="table table-bordered table-responsive">
                    <tr>
                        <td class="col-md-1 text-center">
                            <span class="text-vertical">购贷单位</span>
                            <span class="btn btn-default">增加</span>
                        </td>
                        <td class="col-md-6" colspan="5">
                            <div class="form-group">
                                <label class="col-md-3 control-label">名称</label>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">纳税人识别号</label>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="纳税人识别号">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">地址、电话</label>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="地址、电话">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">发票号码</label>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="开户行及帐号">
                                </div>
                            </div>
                        </td>
                        <td class="col-md-1 text-center">
                            <span class="text-vertical">密码区</span>

                        </td>
                        <td class="col-md-3" colspan="2">
                            <label>
                                <textarea class="form-control" rows="10"></textarea>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2" colspan="2">货物或应税劳务名称</td>
                        <td class="col-md-1">规格型号</td>
                        <td class="col-md-1">单位</td>
                        <td class="col-md-1">数量</td>
                        <td class="col-md-1">单价</td>
                        <td class="col-md-1">金额</td>
                        <td class="col-md-1">税率</td>
                        <td class="col-md-1">税额</td>
                    </tr>
                    <tr>
                        <td class="col-md-2" colspan="2">货物或应税劳务名称</td>
                        <td class="col-md-1">规格型号</td>
                        <td class="col-md-1">单位</td>
                        <td class="col-md-1">数量</td>
                        <td class="col-md-1">单价</td>
                        <td class="col-md-1">金额</td>
                        <td class="col-md-1">税率</td>
                        <td class="col-md-1">税额</td>
                    </tr>
                    <tr>
                        <td>价税合计(大写)</td>
                        <td class="text-center" colspan="8">一百</td>
                    </tr>
                    <tr>
                        <td class="col-md-1 text-center">
                            <span class="text-vertical">销贷单位</span>
                        </td>
                        <td class="col-md-6" colspan="5">
                            <div class="form-group">
                                <label class="col-md-3 control-label">名称</label>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">纳税人识别号</label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" placeholder="纳税人识别号">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">地址、电话</label>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="地址、电话">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">发票号码</label>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="开户行及帐号">
                                </div>
                            </div>
                        </td>
                        <td class="col-md-1 text-center">
                            <span class="text-vertical">备注</span>
                        </td>
                        <td class="col-md-3" colspan="2">
                            <label>
                                <textarea class="form-control" rows="10"></textarea>
                            </label>
                        </td>
                    </tr>
                </table>
                <div class="form-group">
                    <div class="col-md-2">
                        <input class="form-control col-md-1" placeholder="收款人"/>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control col-md-1" placeholder="复核人"/>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control col-md-6" placeholder="开票人"/>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <span>销贷单位(章)</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <button class="btn btn-default" data-th-text="#{form.submit}">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<th:block th:include="/base/script :: scriptFragment"/>
</html>