<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/base/head :: headFragment(#{invoice.title.add})"/>
</head>

<body>
<th:block th:include="/base/nav :: navFragment"/>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="page-header" data-th-text="#{invoice.title.add}">录入发票</h1>
                </div>
            </div>
            <form class="form-horizontal" action="#">
                <div class="form-group">
                    <div class="col-md-11">
                        <h2 class="text-center" id="title-invoice">上海增值税普通发票</h2>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <input class="form-control col-md-1" id="input-code"
                               name="code" placeholder="发票代码"/>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control col-md-1" id="input-number"
                               name="input-number" placeholder="发票号码"/>
                    </div>
                    <div class="col-md-3 col-md-offset-5">
                        <input type="date" class="form-control col-md-6" id="input-date"
                               name="date" placeholder="开票日期"/>
                    </div>
                </div>
                <table class="table table-bordered table-responsive">
                    <tr>
                        <td class="col-md-1 text-center">
                            <span class="text-vertical">购贷单位</span>
                            <span class="btn btn-primary" data-toggle="modal"
                                  data-target="#modal-unit-select"
                                  data-title="购贷单位"
                                  data-name="purchase">增加</span>
                        </td>
                        <td class="col-md-6" colspan="5">
                            <input type="hidden" id="input-unit-purchase-id"/>
                            <div class="form-group">
                                <label class="col-md-3 control-label">名称</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="名称" disabled="disabled"
                                           id="input-unit-purchase-name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">纳税人识别号</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="纳税人识别号" disabled="disabled"
                                           id="input-unit-purchase-tax"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">地址、电话</label>
                                <div class="col-md-5">
                                    <input class="form-control" placeholder="地址" disabled="disabled"
                                           id="input-unit-purchase-address"/>
                                </div>
                                <div class="col-md-3">
                                    <input type="tel" class="form-control" placeholder="电话" disabled="disabled"
                                           id="input-unit-purchase-tel"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">开户行及帐号</label>
                                <div class="col-md-5">
                                    <input class="form-control" placeholder="开户行及帐号" disabled="disabled"
                                           id="input-unit-purchase-bank-account"/>
                                </div>
                                <div class="col-md-3">
                                    <img id="input-unit-purchase-bank-img" src="" />
                                </div>
                            </div>
                        </td>
                        <td class="col-md-1 text-center">
                            <span class="text-vertical">密码区</span>

                        </td>
                        <td class="col-md-3" colspan="2">
                            <label>
                                <textarea class="form-control" rows="10"></textarea>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2" colspan="2">货物或应税劳务名称</td>
                        <td class="col-md-1">规格型号</td>
                        <td class="col-md-1">单位</td>
                        <td class="col-md-1">数量</td>
                        <td class="col-md-1">单价</td>
                        <td class="col-md-1">金额</td>
                        <td class="col-md-1">税率</td>
                        <td class="col-md-1">税额</td>
                    </tr>
                    <tr>
                        <td class="col-md-2" colspan="2">货物或应税劳务名称</td>
                        <td class="col-md-1">规格型号</td>
                        <td class="col-md-1">单位</td>
                        <td class="col-md-1">数量</td>
                        <td class="col-md-1">单价</td>
                        <td class="col-md-1">金额</td>
                        <td class="col-md-1">税率</td>
                        <td class="col-md-1">税额</td>
                    </tr>
                    <tr>
                        <td>价税合计(大写)</td>
                        <td class="text-center" colspan="8">一百</td>
                    </tr>
                    <tr>
                        <td class="col-md-1 text-center">
                            <span class="text-vertical">销贷单位</span>
                            <span class="btn btn-primary" data-toggle="modal"
                                  data-target="#modal-unit-select"
                                  data-title="销贷单位"
                                  data-name="sales">增加</span>
                        </td>
                        <td class="col-md-6" colspan="5">
                            <input type="hidden" id="input-unit-sales-id"/>
                            <div class="form-group">
                                <label class="col-md-3 control-label">名称</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="名称" disabled="disabled"
                                           id="input-unit-sales-name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">纳税人识别号</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="纳税人识别号" disabled="disabled"
                                           id="input-unit-sales-tax"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">地址、电话</label>
                                <div class="col-md-5">
                                    <input class="form-control" placeholder="地址" disabled="disabled"
                                           id="input-unit-sales-address"/>
                                </div>
                                <div class="col-md-3">
                                    <input type="tel" class="form-control" placeholder="电话" disabled="disabled"
                                           id="input-unit-sales-tel"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">开户行及帐号</label>
                                <div class="col-md-5">
                                    <input type="email" class="form-control" placeholder="开户行及帐号" disabled="disabled"
                                           id="input-unit-sales-bank-account"/>
                                </div>
                                <div class="col-md-3">
                                    <img id="input-unit-sales-bank-img" src="" />
                                </div>
                            </div>
                        </td>
                        <td class="col-md-1 text-center">
                            <span class="text-vertical">备注</span>
                        </td>
                        <td class="col-md-3" colspan="2">
                            <label>
                                <textarea class="form-control" rows="10"></textarea>
                            </label>
                        </td>
                    </tr>
                </table>
                <div class="form-group">
                    <div class="col-md-2">
                        <input class="form-control col-md-1" placeholder="收款人"/>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control col-md-1" placeholder="复核人"/>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control col-md-6" placeholder="开票人"/>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <span>销贷单位(章)</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <button class="btn btn-default" data-th-text="#{form.submit}">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<div class="modal fade" id="modal-unit-select" tabindex="-1" role="dialog" aria-labelledby="modal-unit-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-unit-select-title">New message</h4>
            </div>
            <div class="modal-body">
                <div class="input-group col-md-12">
                    <label for="input-tax" class="control-label"
                           data-th-text="#{invoice.unit.tax.id}">统一社会信用代码:</label>
                    <input type="text" class="form-control" id="input-tax" name="tax" autocomplete="off">
                    <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                    <!-- /btn-group -->
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="/base/script :: scriptFragment"/>
<script data-th-src="@{/js/invoice/unit/provience.js}"></script>
<script data-th-src="@{/plugins/bootstrap-suggest/bootstrap-suggest.js}"></script>
<script>
    $('#modal-unit-select').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);

        let title = button.data('title');
        $('#modal-unit-select-title').text('请选择' + title);

        let name  = button.data('name');
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

        $('#input-tax').val('')
            .off('onDataRequestSuccess')
            .off('onSetSelectValue')
            .off('onUnsetSelectValue')
            .on('onSetSelectValue', function (e, keyword, data) {
                $('#modal-unit-select').modal('hide');
                $('#input-unit-'+name+'-id').val(data.taxId);
                $('#input-unit-'+name+'-name').val(data.name);
                $('#input-unit-'+name+'-tax').val(data.taxId);
                $('#input-unit-'+name+'-address').val($.province(data.taxId)+data.address);
                $('#input-unit-'+name+'-tel').val(data.tel);
                $('#input-unit-'+name+'-bank-account').val(data.account);
            })
    });

    $('#input-tax').bsSuggest({
        url: '/invoice/unit/tax/',
        getDataMethod: 'url',
        allowNoKeyword: false,
        effectiveFields: ['id', 'taxId', 'name', 'account'],
        effectiveFieldsAlias:{taxId: '社会统一信用代码', name: '单位名称', account: '银行帐号'},
        showHeader: true,
        autoSelect: true,
//        showBtn: true,
        idField: "id",
        keyField: "taxId",
        fnAdjustAjaxParam: function (keyword, options) {
            return {
                type: 'POST',
                data: {
                    taxId: $('#input-tax').val()
                }
            }
        }
    });
</script>
</html>