<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/base/head :: headFragment(#{invoice.title.add})"/>
</head>

<body>
<th:block th:include="/base/nav :: navFragment"/>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="page-header" data-th-text="#{invoice.title.add}">录入发票</h1>
                </div>
            </div>
            <form class="form-horizontal" action="#">
                <div class="form-group">
                    <div class="col-md-11">
                        <h2 class="text-center" id="title-invoice">增值税发票</h2>
                    </div>
                </div>
                <table class="table table-bordered table-responsive">
                    <tr>
                        <td class="col-md-1 text-center">
                            <span class="text-vertical" data-th-text="#{invoice.unit.title}">购销单位</span>
                            <span class="btn btn-primary" data-toggle="modal"
                                  data-target="#modal-unit-select"
                                  data-title="购销单位">选择</span>
                        </td>
                        <td class="col-md-6" colspan="5">
                            <input type="hidden" id="input-unit-id"/>
                            <div class="form-group">
                                <label class="col-md-3 control-label" data-th-text="#{invoice.unit.name}">单位名称</label>
                                <div class="col-md-8">
                                    <input class="form-control" data-th-placeholder="#{invoice.unit.name}" disabled="disabled"
                                           id="input-unit-name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" data-th-text="#{invoice.unit.tax.id}">统一社会信用代码</label>
                                <div class="col-md-8">
                                    <input class="form-control" data-th-placeholder="#{invoice.unit.tax.id}" disabled="disabled"
                                           id="input-unit-tax"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" data-th-text="#{invoice.unit.address_tel}">地址、电话</label>
                                <div class="col-md-5">
                                    <input class="form-control" data-th-placeholder="#{invoice.unit.address}" disabled="disabled"
                                           id="input-unit-address"/>
                                </div>
                                <div class="col-md-3">
                                    <input type="tel" class="form-control" data-th-placeholder="#{invoice.unit.tel}" disabled="disabled"
                                           id="input-unit-tel"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" data-th-text="#{invoice.unit.account}">开户行帐号</label>
                                <div class="col-md-5">
                                    <input class="form-control" data-th-placeholder="#{invoice.unit.account}" disabled="disabled"
                                           id="input-unit-bank-account"/>
                                </div>
                                <div class="col-md-3">
                                    <img id="input-unit-bank-img" src=""/>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-1 text-center">
                            <span class="text-vertical" data-th-text="#{invoice.msg.title}">发票信息</span>
                        </td>
                        <td class="col-md-3" colspan="2">
                            <label>
                                <div class="form-group" id="form-group-code">
                                    <div class="col-md-12">
                                        <input class="form-control col-md-1" id="input-code"
                                               name="code" data-th-placeholder="#{invoice.code}"/>
                                    </div>
                                </div>
                                <div class="form-group" id="form-group-number">
                                    <div class="col-md-12">
                                        <input class="form-control col-md-1" id="input-number"
                                               name="input-number" data-th-placeholder="#{invoice.number}"/>
                                    </div>
                                </div>
                                <div class="form-group" id="form-group-date">
                                    <div class="col-md-12">
                                        <input type="date" class="form-control col-md-6" id="input-date"
                                               name="date" data-th-placeholder="#{invoice.date}"/>
                                    </div>
                                </div>
                                <div class="form-group" id="form-group-sell">
                                    <div class="col-md-12">
                                        <select class="form-control" id="select-sell">
                                            <option data-th-text="#{invoice.type.select}">请选择发票类型</option>
                                            <option value="0" data-th-text="#{invoice.type.buy}">进项发票</option>
                                            <option value="1" data-th-text="#{invoice.type.sell}">销项发票</option>
                                        </select>
                                    </div>
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2" colspan="2" data-th-text="#{product.goods.name}">货物名称</td>
                        <td class="col-md-1" data-th-text="#{product.goods.specification}">规格型号</td>
                        <td class="col-md-1" data-th-text="#{product.goods.unit}">单位</td>
                        <td class="col-md-1" data-th-text="#{invoice.goods.num}">数量</td>
                        <td class="col-md-1" data-th-text="#{product.goods.unite.price}">单价</td>
                        <td class="col-md-1" data-th-text="#{invoice.goods.money}">金额</td>
                        <td class="col-md-1" data-th-text="#{product.goods.tax.rate}">税率</td>
                        <td class="col-md-1" data-th-text="#{product.goods.tax.money}">税额</td>
                    </tr>
                    <tbody id="div-goods">

                    </tbody>
                    <tr>
                        <td colspan="9" class="text-center">
                            <input type="hidden" id="input-goods-id"/>
                            <span class="btn btn-primary" data-toggle="modal"
                                  data-target="#modal-goods-select"
                                  data-title="货物">选择货物</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2" colspan="2">价税合计(大写)</td>
                        <td class="text-center" colspan="4" id="td-goods-total-zh">一百</td>
                        <td class="text-center" colspan="3" id="td-goods-total-num">一百</td>
                    </tr>
                </table>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="btn-submit" type="submit" class="btn btn-default" data-th-value="#{form.submit}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<div class="modal fade" id="modal-unit-select" tabindex="-1" role="dialog" aria-labelledby="modal-unit-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-unit-select-title">New message</h4>
            </div>
            <div class="modal-body">
                <div class="input-group col-md-12">
                    <label for="input-tax" class="control-label"
                           data-th-text="#{invoice.unit.tax.id}">统一社会信用代码:</label>
                    <input type="text" class="form-control" id="input-tax" name="tax" autocomplete="off">
                    <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                    <!-- /btn-group -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-goods-select" tabindex="-1" role="dialog" aria-labelledby="modal-goods-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-goods-select-title">New message</h4>
            </div>
            <div class="modal-body">
                <div class="input-group col-md-12">
                    <label for="input-goods" class="control-label"
                           data-th-text="#{product.goods.name}">货物:</label>
                    <input type="text" class="form-control" id="input-goods" name="goods" autocomplete="off">
                    <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                    <!-- /btn-group -->
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="/base/script :: scriptFragment"/>
<script data-th-src="@{/plugins/nzh/nzh.hk.js}"></script>
<script data-th-src="@{/plugins/bootstrap-suggest/bootstrap-suggest.js}"></script>
<script>
    $('#input-code').on('blur', function () {
        var code = $(this).val();
        var province = $.province({invoiceCode: code});
        // 4400163320
        $('#title-invoice').html(province+'增值税发票');
    });

    // 购销单位的模态框js
    (function ($) {
        $('#modal-unit-select').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);

            var title = button.data('title');
            $('#modal-unit-select-title').text('请选择' + title);

            $('#input-tax').val('')
                .off('onDataRequestSuccess')
                .off('onSetSelectValue')
                .off('onUnsetSelectValue')
                .on('onSetSelectValue', function (e, keyword, data) {
                    $('#modal-unit-select').modal('hide');
                    $('#input-unit-id').val(data.id);
                    $('#input-unit-name').val(data.name);
                    $('#input-unit-tax').val(data.taxId);
                    $('#input-unit-address').val($.province({taxId: data.taxId}) + data.address);
                    $('#input-unit-tel').val(data.tel);
                    $('#input-unit-bank-account').val(data.account);
                })
        });

        $('#input-tax').bsSuggest({
            url: '/invoice/unit/tax/',
            getDataMethod: 'url',
            effectiveFields: ['id', 'taxId', 'name', 'account'],
            effectiveFieldsAlias: {id: 'id', taxId: '社会统一信用代码', name: '单位名称', account: '银行帐号'},
            showHeader: true,
            autoSelect: true,
            idField: "id",
            keyField: "taxId",
            fnAdjustAjaxParam: function (keyword, options) {
                return {
                    type: 'POST',
                    data: {
                        taxId: $('#input-tax').val()
                    }
                }
            }
        });
    })(jQuery);

    // 货物选择的模态框js
    (function ($, Nzh) {
        $('#modal-goods-select').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);

            var title = button.data('title');
            $('#modal-goods-select-title').text('请选择' + title);

            var name = button.data('name');
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

            $('#input-goods').val('')
                .off('onDataRequestSuccess')
                .off('onSetSelectValue')
                .off('onUnsetSelectValue')
                .on('onSetSelectValue', function (e, keyword, data) {
                    $('#modal-goods-select').modal('hide');
                    var id = data.id;
                    $('#input-goods-id').val(id);

                    // 添加表格内容
                    $('#div-goods').empty()
                        .append('<tr>' +
                            '<td class="col-md-2" colspan="2">'+data.name+'</td>' +
                            '<td class="col-md-1">'+data.specification+'</td>' +
                            '<td class="col-md-1">'+data.unit+'</td>' +
                            '<td class="col-md-1"><input type="number" id="input-goods'+id+'-number" data-id="'+id+'"></td>' +
                            '<td class="col-md-1" id="td-goods'+id+'-unite-price" data-id="'+id+'">'+data.unitePrice+'</td>' +
                            '<td class="col-md-1" id="td-goods'+id+'-price" data-id="'+id+'"></td>' +
                            '<td class="col-md-1" id="td-goods'+id+'-tax-rate" data-id="'+id+'">'+data.taxRate+'</td>' +
                            '<td class="col-md-1" id="td-goods'+id+'-tax-money" data-id="'+id+'"></td>' +
                            '</tr>');

                    $('#input-goods'+id+'-number').off('change').on('change', function () {
                        var $this = $(this);
                        var id =  $this.attr('data-id');
                        var num = $(this).val();
                        // 总价
                        var unitPrice = $('#td-goods'+id+'-unite-price').text();
                        var price = parseFloat((num*unitPrice).toFixed(2));
                        $('#td-goods'+id+'-price').text(price);
                        // 税额
                        var taxRate = $('#td-goods'+id+'-tax-rate').text();
                        var taxMoney = parseFloat((price*taxRate).toFixed(2));
                        $('#td-goods'+id+'-tax-money').text(taxMoney);
                        // 价税合计
                        var total = price+taxMoney;
                        $('#td-goods-total-zh').text(Nzh.encodeB(total));
                        $('#td-goods-total-num').text(total.toLocaleString());
                    });

                })
        });

        $('#input-goods').bsSuggest({
            url: '/product/good/searchByName',
            getDataMethod: 'url',
            effectiveFields: ['id', 'name', 'unitePrice', 'taxRate', 'createTime'],
            effectiveFieldsAlias: {name: '货物名称', unitePrice: '单价', taxRate: '税率', createTime: '创建时间'},
            showHeader: true,
            autoSelect: true,
            idField: "id",
            keyField: "name",
            fnAdjustAjaxParam: function (keyword, options) {
                return {
                    type: 'POST',
                    data: {
                        name: $('#input-goods').val()
                    }
                }
            },
            fnProcessData: function (result) {
                var value = result.value;
                for(var i in value){
                    if(value.hasOwnProperty(i)) {
                        var createTime = new Date(value[i].createTime);
                        value[i].createTime = $.format.date(createTime, 'yyyy-MM-dd HH:mm:ss');
                    }
                }
                return result;
            }
        });
    })(jQuery, Nzh);

    $('#btn-submit').on('click', function () {

    });

    // TODO 前端js验证
</script>
</html>