# The number of milliseconds of each tick
# 每个tick的时间为2000毫秒, ZK内的时间都是以tick为单位的.
tickTime=2000
# The number of ticks that the initial synchronization phase can take
# 用于集群, 允许 从节点 连接并同步到 主节点 的初始化连接时间, 以tick为单位.
initLimit=10
# The number of ticks that can pass between sending a request and getting an acknowledgement
# 用于集群, 主节点 与 从节点 之间发送消息, 请求和应答的时间, 以tick为单位.
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just example sakes.
# ZK数据存储的位置
dataDir=/tmp/zookeeper
# the port at which the clients will connect
# 客户端连接服务器的端口
clientPort=2181
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
# 四字命令白名单, https://zookeeper.apache.org/doc/r3.4.10/zookeeperAdmin.html#sc_zkCommands
4lw.commands.whitelist=*
