<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahao.forum.guitar.manager.rbac.shiro.dao.ShiroMapper">
    <update id="updateLastLoginMsg">
        update admin_user
        set last_login_time = #{lastLoginTime}, last_login_ip = #{lastLoginIp}
        where id = #{userId}
    </update>

    <select id="getUserByUsername" resultType="DataSet">
        select u.id, u.username, u.password, u.enabled, u.last_login_time, u.last_login_ip, u.create_time, u.modify_time
        from admin_user u
        where u.username = #{username}
    </select>

    <select id="getWeight" resultType="int">
        select ifnull(max(r.weight), 0)
        from admin_user u
        left join admin_user__role ur on ur.user_id = u.id
        left join admin_role r on ur.role_id = r.id and r.enabled = 1
        where u.id = #{userId}
    </select>

    <select id="getRolesByUserId" resultType="DataSet">
        select r.id, r.name
        from admin_role r
        left join admin_user__role ur on r.id = ur.role_id
        where ur.user_id = #{userId} and r.enabled = 1
    </select>

    <select id="getAuthsByUserId" resultType="DataSet">
        select a.id, a.name
        from admin_auth a
        left join admin_role__auth ra on ra.auth_id = a.id
        left join admin_role r on ra.role_id = r.id
        left join admin_user__role ur on ur.role_id = r.id
        where ur.user_id = #{userId} and r.enabled = 1 and a.enabled = 1
    </select>

</mapper>