# =================================== 内置 Tomcat 通用配置 ==========================================
server:
  port: 18080
  servlet:
    context-path: /
  tomcat:
    max-threads: 200
    max-connections: 10000
    accept-count: 100
  max-http-header-size: 8KB # 每个请求都会创建一个8KB大小的byte[], org.apache.coyote.http11.Http11InputBuffer.java:698

# =================================== Spring 通用配置 ==========================================
spring:
  application:
    name: AhaoWeb
  profiles:
    active: dev
  http:
    encoding:
      charset: UTF-8
  jackson:
    date-format: moe.ahao.util.commons.lang.time.MultiDateFormat
    default-property-inclusion: non_null # 不允许输出 null 值
    time-zone: GMT+8
    serialization:
      indent_output: false
  servlet:
    multipart:
      enabled: true
      max-file-size: 1MB
      max-request-size: 10MB
      location: ${java.io.tmpdir}
  banner:
    location: classpath:banner/banner-${spring.profiles.active}.txt
  task:
    execution:
      pool:
        allow-core-thread-timeout: true
        core-size: 8
        max-size: 128
        keep-alive: 60s
      thread-name-prefix: task-
    scheduling:
      pool:
        size: 8
      thread-name-prefix: scheduling-
  redis:
    timeout: 10000     # 连接超时时间（毫秒）
    lettuce:
      pool:
        max-active: 8  # 连接池最大连接数（使用负值表示没有限制）
        max-wait: 1200ms # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-idle: 8    # 连接池中的最大空闲连接
        min-idle: 0    # 连接池中的最小空闲连接
        time-between-eviction-runs: -1ms # 空闲连接扫描间隔时间, 扫描到空闲连接则关闭连接

logging:
  level:
    root: info
  config: classpath:logback/logback-${spring.profiles.active}.xml

# =================================== Mybatis 通用配置 ==========================================
mybatis-plus:
  type-enums-package: moe.ahao.**.enums
  global-config:
    db-config:
      id-type: auto
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)
  configuration:
    map-underscore-to-camel-case: true

