<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahao.rbac.shiro.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.ahao.rbac.shiro.entity.ShiroUser">
        <id property="id" column="id"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="locked" property="locked"/>
        <result column="disabled" property="disabled"/>
        <result column="expired" property="expired"/>
    </resultMap>

    <select id="selectByUsernameOrEmail" resultMap="BaseResultMap">
      select * from sys_user where username = #{principal} or email = #{principal}
    </select>
</mapper>